{
    "swagger": "2.0",
    "info": {
        "title": "Recent Imagery Service",
        "description": "## Recent Imagery",
        "version": "1.0.0"
    },
    "host": "api.skydipper.com",
    "schemes": [
        "https",
        "http"
    ],
    "produces": [
        "application/vnd.api+json"
    ],
    "paths": {
        "/v1/recent-imagery": {
            "get": {
                "description": "Recent Imagery.",
                "tags": [
                    "recentimagery"
                ],
                "parameters": [
                    {
                        "name": "geostore",
                        "in": "query",
                        "description": "Hash of the geostore",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "Period of time (default '2001-01-01, 2017-02-01')",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Results obtained",
                        "schema": {
                            "$ref": "#/definitions/USEFORMA250"
                        }
                    },
                    "404": {
                        "description": "Geostore not found",
                        "schema": {
                            "$ref": "#/definitions/Errors"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Errors"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Errors"
                        }
                    }
                }
            }
        }
    }
}